.content {
  width: 1200px;
  margin: 0 auto;
  // overflow: hidden;
  .top-ads {
    .img-ads {
    }
  }

  .brand-carousel {
    padding: 10px 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: space-between;

    .list-carousel {
      display: flex;
      margin-bottom: 0;
      li {
        list-style: none;
        a {
          img {
            max-width: 120px;
            max-height: 70px;
            margin: -10px auto;
            border-radius: 4px;
          }
          width: 120px;
          background: #fff;
          border: 1px solid #fff;
          overflow: hidden;
          height: 50px;
          margin-right: 10px;
          display: flex;
          justify-content: center;
          justify-items: center;
          border-radius: 4px;
        }
      }
    }
    .btn-directional {
      font-size: 18px;
      background: #e3e3e3;
      line-height: 30px;
      height: 30px;
      margin-top: 10px;
      border-radius: 30px;
      color: #888;
      border: 1px solid #e3e3e3;

      &::after {
        content: "";
        width: 30px;
        display: block;
        color: #888;
      }
    }
  }
}

.products {
  .nav-breadcrums {
    a {
      text-decoration: none;
      padding: 0;
      margin: 20px 0 0 0;
      color: #111;
      font-size: 13px;
      span {
        color: #009981;
        font-weight: bold;
      }
    }
  }
  .nav-fillter {
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 14px;
    margin: 20px 0;
    strong {
      font-size: 13px;
      display: inline-block;
      color: #00917a;
      padding: 15px 20px;
    }
  }
  .nav-fillter {
    position: relative;

    .detail-filter {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .header-fillter {
        margin-right: 20px;
        a {
          font-size: 13px;
          color: #111;
          text-decoration: none;
          i {
            margin-left: 5px;
            font-size: 10px;
            line-height: 49.5px;
          }
        }
      }
    }
    .sub-filter {
      // display: none;
      position: absolute;
      width: 100%;
      z-index: 123;
      left: 0;
      top: 40px;
      padding-top: 10px;
      ul {
        background: #fff;
        box-shadow: 0 3px 6px #00000029;
        border-radius: 14px;
        margin: 0;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        padding: 5px 10px;
        grid-column-gap: 10px;
        li {
          list-style: none;
          padding: 5px;
          a {
            display: flex;
            i {
              color: #888;
              margin-left: 4px;
            }
          }
        }
      }
    }
  }
}
