.content {
  width: 1200px;
  margin: 0 auto;
  .top-ads {
    .img-ads {
    }
  }

  .products {
    .top-nav {
      .nav-breadcrums {
      }
      .nav-fillter {
      }
    }

    .list-products {
    }
  }
}



.carousel {
    width: 132px;
}